############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
desktop.ini

############
## MAC OS X
############

.DS_Store

#######
## QT
#######

*.o
*.out
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*.pro.user
*build-desktop-Qt*
*.exe
*.dll
Debug/
Release/
PROJECT

#########
## BOUML
#########

UML/BOUML/ascenseur/*.session
UML/BOUML/ascenseur/*.d

##########
## AUTRE
##########

# Fichiers temporaires
*~
