############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
desktop.ini

############
## MAC OS X
############

.DS_Store

#######
## QT
#######

*.o
*.out
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*.pro.user
*build-desktop-Qt*
*.exe
*.dll
Debug/
Release/
PROJECT
*build*Debug
*.autosave

#########
## BOUML
#########

UML/BOUML/ascenseur/*.session
UML/BOUML/ascenseur/*.d

##########
## AUTRE
##########

# Fichiers temporaires
*~
~$*
~*.tmp
DOSSIERS A RENDRE/1.0/INC1/Manuel d'installation - Intégration de la librarie matériel sous QT.docx
